UK_MARKETPLACE_ID=
UK_SELLER_ID=

SANDBOX_ACCESS_TOKEN=
SANDBOX_REFRESH_TOKEN=
SANDBOX_CLIENT_ID=
SANDBOX_CLIENT_SECRET=


SP_API_CLIENT_ID=
SP_API_CLIENT_SECRET=
SP_API_REFRESH_TOKEN=
SP_API_ACCESS_TOKEN=